@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MobileHub</h1>
    <br />
    </div>
<div>
    <p><b>
    Mobile Hub is a service that enables even a novice to easily deploy and configure mobile app backend features using a range of powerful  services.<br />

    You create a free project, then choose and configure mobile app features using a point and click console. <br /> Mobile Hub takes care of the complexities in the background and then supplies you with step by step integration instructions.
</b></p>
    <p><b><i>This Is the Prime Location of the shop you can walkIn straight in the shop and you can also contact on the website.<br /></i></b> </p>

     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d100912.89541092083!2d175.1783505827101!3d-37.7776645890548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snz!4v1615318453895!5m2!1sen!2snz" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        <p><b>The  Mobile Hub is a collection of Amazon Web Services tools designed to help developers build, test, configure and release cloud-based applications for mobile devices.<br />  Mobile Hub packages its tools as a console for developers, allowing them to quickly select desired features for applications and integrate them into code</b></p>
</div>
<div class="img1">
     <img src="~/lib/Image/im.jfif" width="500" height="300" />
    <br />
    <br />
    <p><b>The console enables developers to integrate features into application code and download a quick-start app project that demonstrates those features. <br />Mobile Hub can then test the application and monitor use</b></p>
</div>
<div class="text-center">
    <h1>IPHONE 12</h1>
    <br />
    <iframe width="1200" height="545" src="https://www.youtube.com/embed/cnXapYkboRQ?autoplay=1&mute=1">
    </iframe>
    </div>
<div>
    <p><b><i>At a Glance. The iPhone 12 and iPhone 12 mini are Apple's mainstream flagship iPhones for 2020. The phones come in 6.1-inch and 5.4-inch sizes with identical features, including support for faster 5G cellular networks, OLED displays, improved cameras, and Apple's latest A14 chip, all in a completely refreshed design.</i></b></p>
    <p><b><i>Of the four members of the new iPhone 12 family, the base iPhone 12 might be easy to overlook. It isn't a radically different size, it doesn't have the highest-end camera system, and it is perhaps the most iterative in terms of updates in the new portfolio. This isn't a simple upgrade to the iPhone 11 though; launching at a much higher starting price, it creates a new tier in Apple's lineup.<br /> You could see it as a step up from the iPhone 12 mini, but much like there are two sizes of Apple Watch, the differences between these models are more to do with personal preference than capabilities.</i></b></p>
    <p><b><i>iOS 14 runs exceptionally smoothly without a hint of hesitation. The UI is responsive and animations are super slick. Apps load quickly, even if they haven't been used in a while. You do get more customisation options and built-in features (including some localised ones)  than with earlier versions but you still have to learn to do many things Apple's way. Despite the high prices of iPhones, iOS 14's stability and longevity, as well as its privacy features, do keep a lot of people within the fold.</i></b></p>

</div>
<br />

<div class=" =text-center">
    <h1>OPPO F1 PLUS</h1>
    <br />
    <iframe width="1200" height="545" src="https://www.youtube.com/embed/rlTv_fXkMkc?autoplay=1&mute=1"> </iframe>
</div>
<br />
<div>
    <p><b><i>I was thinking to go with the Samsung S6, but on the day I was thinking to buy it, I happen to read a review about this phone. Since all the reviews had given very good rating for this phone,<br /> I decided to visit an Oppo dealer to check it. As soon as they showed me the phone, I should say it felt so premium & light weight. The specs are so awesome at this moment that there are not many mid-range phones with this specs.<br /> I could not resist but purchase it after I used it for sometime at the shop.I have been using the phone for the past 1 week, and it great.64GB storage + 4GB RAM (cant ask for more)Camera is great. <br />Lots of different modes in the camera app, and takes great pics in bright and low light.The fingerprint sensor is the best I have used, its so fast it unlocks in less than half a second.I have been able to do most of every tasks without a glitch.The phone never heats up.<br />I cannot stop without mentioning the super fast charging this phone has, it charges full 100% in 40 minutes flat, and I get more than a days backup with good use.I cannot ask for more from a phone at this time. All greats specs at a very good price.<br /> I do not regret not going with the Samsung S6.</i></b></p>
</div>